<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunze.common.mapper.yunze.house.ModuleHouseMapper">
    <delete id="del">
        delete from sy_module_house where serial_number = #{serialNumber}
    </delete>

    <select id="selMapCount" parameterType="java.util.Map" resultType="java.lang.Integer">
        select
        count(*)
        from
        sy_module_house
        <where>
            <if test="value!=null and value!=''">
                <if test="type == 0">
                salesperson =#{value}
                </if>
                <if test="type == 1">
                customer_name =#{value}
                </if>
                <if test="type == 2">
                sales_order_number =#{value}
                </if>
                <if test="type == 3">
                delivery_order_number =#{value}
                </if>
                <if test="type == 4">
                customer_sales_order_number =#{value}
                </if>
                <if test="type == 5">
                end_customer =#{value}
                </if>
                <if test="type == 6">
                logistics_number =#{value}
                </if>
                <if test="type == 7">
                consignee =#{value}
                </if>
                <if test="type == 8">
                consignee_phone =#{value}
                </if>
                <if test="type == 9">
                delivery_address =#{value}
                </if>
                <if test="type == 10">
                material_code =#{value}
                </if>
                <if test="type == 11">
                material_name =#{value}
                </if>
                <if test="type == 12">
                model =#{value}
                </if>
                <if test="type == 13">
                serial_number =#{value}
                </if>
                <if test="type == 14">
                middle_box_number =#{value}
                </if>
                <if test="type == 15">
                device_serial =#{value}
                </if>
                <if test="type == 16">
                device_id =#{value}
                </if>
                <if test="type == 17">
                sn =#{value}
                </if>
                <if test="type == 18">
                original_sn =#{value}
                </if>
                <if test="type == 19">
                mac =#{value}
                </if>
                <if test="type == 20">
                iccid =#{value}
                </if>
                <if test="type == 21">
                imsi =#{value}
                </if>
                <if test="type == 22">
                reel_number =#{value}
                </if>
                <if test="type == 23">
                firmware_version =#{value}
                </if>
            </if>
            <if test="timetype != null  and timetype != '' and staTime!=null and endTime!=null">
                AND
                <if test="timetype == 1">
                    create_time
                </if>
                <if test="timetype == 2">
                    delivery_time
                </if>
                BETWEEN #{staTime} AND #{endTime}
            </if>
            <if test="StartAndEndtype != null  and StartAndEndtype != '' and StartValue!=null and EndValue!=null">
                AND
                <if test="StartAndEndtype == 0">
                    serial_number
                </if>
                <if test="StartAndEndtype == 1">
                    middle_box_number
                </if>
                <if test="StartAndEndtype == 2">
                    device_serial
                </if>
                <if test="StartAndEndtype == 3">
                    device_id
                </if>
                <if test="StartAndEndtype == 4">
                    sn
                </if>
                <if test="StartAndEndtype == 5">
                    original_sn
                </if>
                <if test="StartAndEndtype == 6">
                    mac
                </if>
                <if test="StartAndEndtype == 7">
                    iccid
                </if>
                <if test="StartAndEndtype == 8">
                    imsi
                </if>
                <if test="StartAndEndtype == 9">
                    reel_number
                </if>
                BETWEEN #{StartValue} AND #{EndValue}
            </if>
            <if test="status != null and status != ''">
                AND status = #{status}
            </if>
        </where>
    </select>
    <select id="list" resultType="java.util.Map" parameterType="java.util.Map">
        select *
        from sy_module_house
        <where>
            <if test="value!=null and value!=''">
                <if test="type == 0">
                    salesperson =#{value}
                </if>
                <if test="type == 1">
                    customer_name =#{value}
                </if>
                <if test="type == 2">
                    sales_order_number =#{value}
                </if>
                <if test="type == 3">
                    delivery_order_number =#{value}
                </if>
                <if test="type == 4">
                    customer_sales_order_number =#{value}
                </if>
                <if test="type == 5">
                    end_customer =#{value}
                </if>
                <if test="type == 6">
                    logistics_number =#{value}
                </if>
                <if test="type == 7">
                    consignee =#{value}
                </if>
                <if test="type == 8">
                    consignee_phone =#{value}
                </if>
                <if test="type == 9">
                    delivery_address =#{value}
                </if>
                <if test="type == 10">
                    material_code =#{value}
                </if>
                <if test="type == 11">
                    material_name =#{value}
                </if>
                <if test="type == 12">
                    model =#{value}
                </if>
                <if test="type == 13">
                    serial_number =#{value}
                </if>
                <if test="type == 14">
                    middle_box_number =#{value}
                </if>
                <if test="type == 15">
                    device_serial =#{value}
                </if>
                <if test="type == 16">
                    device_id =#{value}
                </if>
                <if test="type == 17">
                    sn =#{value}
                </if>
                <if test="type == 18">
                    original_sn =#{value}
                </if>
                <if test="type == 19">
                    mac =#{value}
                </if>
                <if test="type == 20">
                    iccid =#{value}
                </if>
                <if test="type == 21">
                    imsi =#{value}
                </if>
                <if test="type == 22">
                    reel_number =#{value}
                </if>
                <if test="type == 23">
                    firmware_version =#{value}
                </if>
            </if>
            <if test="timetype != null  and timetype != '' and staTime!=null and endTime!=null">
                AND
                <if test="timetype == 1">
                    create_time
                </if>
                <if test="timetype == 2">
                    delivery_time
                </if>
                BETWEEN #{staTime} AND #{endTime}
            </if>
            <if test="StartAndEndtype != null  and StartAndEndtype != '' and StartValue!=null and EndValue!=null">
                AND
                <if test="StartAndEndtype == 0">
                    serial_number
                </if>
                <if test="StartAndEndtype == 1">
                    middle_box_number
                </if>
                <if test="StartAndEndtype == 2">
                    device_serial
                </if>
                <if test="StartAndEndtype == 3">
                    device_id
                </if>
                <if test="StartAndEndtype == 4">
                    sn
                </if>
                <if test="StartAndEndtype == 5">
                    original_sn
                </if>
                <if test="StartAndEndtype == 6">
                    mac
                </if>
                <if test="StartAndEndtype == 7">
                    iccid
                </if>
                <if test="StartAndEndtype == 8">
                    imsi
                </if>
                <if test="StartAndEndtype == 9">
                    reel_number
                </if>
                BETWEEN #{StartValue} AND #{EndValue}
            </if>
            <if test="status != null and status != ''">
                AND status = #{status}
            </if>
        </where>
        <if test="StarRow != null and PageSize != null">
            LIMIT #{StarRow} , #{PageSize}
        </if>
    </select>
    <select id="selectModuleBySerialNumber" resultType="java.util.Map">
        select * from sy_module_house where serial_number = #{serialNumber}
    </select>

    <select id="isExistence" parameterType="java.util.HashMap" resultType="java.lang.String">
        SELECT
         serial_number
        FROM
        sy_module_house
        <where>
            <if test="serialNumbers != null and serialNumbers.size() &gt; 0">
                serial_number IN
                <foreach item="sn" collection="serialNumbers" index="index" separator="," open="(" close=")">
                    #{sn}
                </foreach>
            </if>
        </where>
    </select>

    <select id="selectModuleBySN" resultType="java.util.Map" parameterType="com.yunze.common.core.domain.entity.ModuleHouse">
        select * from sy_module_house where sn = #{sn}
    </select>

    <select id="validateBoxOrReelInStock" resultType="java.util.Map" parameterType="java.util.Map">
        SELECT 
            middle_box_number,
            reel_number,
            status,
            serial_number,
            material_name,
            model
        FROM sy_module_house 
        WHERE status = '0' 
        AND (
        <if test="boxNumber != null and boxNumber != ''">
                middle_box_number IN 
            <foreach item="box" collection="boxNumberList" open="(" separator="," close=")">
                    #{box}
            </foreach>
        </if>
        <if test="boxNumber != null and boxNumber != '' and reelNumber != null and reelNumber != ''">
                OR
        </if>
        <if test="reelNumber != null and reelNumber != ''">
                reel_number IN 
            <foreach item="reel" collection="reelNumberList" open="(" separator="," close=")">
                    #{reel}
            </foreach>
        </if>
        )
        LIMIT 1
    </select>

    <update id="updateModuleStatusToOutbound" parameterType="java.util.Map">
        UPDATE sy_module_house 
        SET status = '1', 
            update_by = #{updateBy}, 
            update_time = NOW()
        WHERE status = '0' 
        AND (
        <if test="boxNumberList != null and boxNumberList.size() > 0">
                middle_box_number IN 
            <foreach item="box" collection="boxNumberList" open="(" separator="," close=")">
                    #{box}
            </foreach>
        </if>
        <if test="boxNumberList != null and boxNumberList.size() > 0 and reelNumberList != null and reelNumberList.size() > 0">
                OR
        </if>
        <if test="reelNumberList != null and reelNumberList.size() > 0">
                reel_number IN 
            <foreach item="reel" collection="reelNumberList" open="(" separator="," close=")">
                    #{reel}
            </foreach>
        </if>
        )
    </update>

    <select id="countModulesInStock" resultType="java.lang.Integer" parameterType="java.util.Map">
        SELECT COUNT(*)
        FROM sy_module_house 
        WHERE status = '0' 
        AND (
        <if test="boxNumberList != null and boxNumberList.size() > 0">
                middle_box_number IN 
            <foreach item="box" collection="boxNumberList" open="(" separator="," close=")">
                    #{box}
            </foreach>
        </if>
        <if test="boxNumberList != null and boxNumberList.size() > 0 and reelNumberList != null and reelNumberList.size() > 0">
                OR
        </if>
        <if test="reelNumberList != null and reelNumberList.size() > 0">
                reel_number IN 
            <foreach item="reel" collection="reelNumberList" open="(" separator="," close=")">
                    #{reel}
            </foreach>
        </if>
        )
    </select>

    <insert id="ins" parameterType="com.yunze.common.core.domain.entity.ModuleHouse">
        INSERT INTO sy_module_house (
            serial_number,
            salesperson,
            customer_name,
            sales_order_number,
            delivery_order_number,
            delivery_time,
            customer_sales_order_number,
            end_customer,
            logistics_number,
            consignee,
            consignee_phone,
            delivery_address,
            material_code,
            material_name,
            model,
            middle_box_number,
            device_serial,
            device_id,
            sn,
            original_sn,
            mac,
            iccid,
            imsi,
            reel_number,
            firmware_version,
            create_by,
            create_time,
            update_by,
            update_time,
            remark
        )
        VALUES (
                   #{serialNumber},
                   #{salesperson},
                   #{customerName},
                   #{salesOrderNumber},
                   #{deliveryOrderNumber},
        <if test="deliveryTime != null and deliveryTime != ''">#{deliveryTime}</if>
        <if test="deliveryTime == null or deliveryTime == ''">NULL</if>,
                   #{customerSalesOrderNumber},
                   #{endCustomer},
                   #{logisticsNumber},
                   #{consignee},
                   #{consigneePhone},
                   #{deliveryAddress},
                   #{materialCode},
                   #{materialName},
                   #{model},
                   #{middleBoxNumber},
                   #{deviceSerial},
                   #{deviceID},
                   #{sn},
                   #{originalSN},
                   #{mac},
                   #{iccid},
                   #{imsi},
                   #{reelNumber},
                   #{firmwareVersion},
                   #{createBy},
                   now(),
                   #{updateBy},
                   now(),
                   #{remark}
               )
    </insert>

    <!-- 根据中箱号或卷盘号查询模组明细数据 -->
    <select id="selectModulesByBoxOrReel" parameterType="java.util.HashMap" resultType="java.util.HashMap">
        SELECT 
            serial_number,
            middle_box_number,
            reel_number,
            salesperson,
            customer_name,
            sales_order_number,
            delivery_order_number,
            delivery_time,
            customer_sales_order_number,
            end_customer,
            logistics_number,
            consignee,
            consignee_phone,
            delivery_address,
            material_code,
            material_name,
            model,
            device_serial,
            device_id,
            sn,
            original_sn,
            mac,
            iccid,
            imsi,
            firmware_version,
            status
        FROM sy_module_house
        <where>
            <if test="boxNumberList != null and boxNumberList.size() > 0">
                AND middle_box_number IN
                <foreach item="boxNumber" collection="boxNumberList" index="index" open="(" separator="," close=")">
                    #{boxNumber}
                </foreach>
            </if>
            <if test="reelNumberList != null and reelNumberList.size() > 0">
                AND reel_number IN
                <foreach item="reelNumber" collection="reelNumberList" index="index" open="(" separator="," close=")">
                    #{reelNumber}
                </foreach>
            </if>
        </where>
        ORDER BY create_time DESC
    </select>

    <!-- 将中箱号或卷盘号在模组明细库中的状态修改为在库状态 -->
    <update id="updateModuleStatusToInStock" parameterType="java.util.HashMap">
        UPDATE sy_module_house
        <set>
            status = #{status},
            <if test="update_by != null and update_by != ''">
                update_by = #{update_by},
            </if>
            <if test="update_time != null">
                update_time = #{update_time},
            </if>
            update_time = now()
        </set>
        <where>
            <if test="boxNumberList != null and boxNumberList.size() > 0">
                AND middle_box_number IN
                <foreach item="boxNumber" collection="boxNumberList" index="index" open="(" separator="," close=")">
                    #{boxNumber}
                </foreach>
            </if>
            <if test="reelNumberList != null and reelNumberList.size() > 0">
                AND reel_number IN
                <foreach item="reelNumber" collection="reelNumberList" index="index" open="(" separator="," close=")">
                    #{reelNumber}
                </foreach>
            </if>
        </where>
    </update>

</mapper>





























