<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunze.common.mapper.yunze.warehouse.Administration.YzCkglCommodityOutputDetailsMapper">

    <!--新增商品出库详情-->
    <insert id="add_CODS" parameterType="java.util.HashMap">
        INSERT INTO yz_ckgl_commodity_output_details
        (
        CODS_CyID,
        CODS_Output_Quantity,
        CODS_COTID
        )
        VALUES
        <foreach item="CODS_arr" collection="CODS_arr" index="index" separator=",">
            (
            #{CODS_arr.Cy_ID},
            #{CODS_arr.CSDS_Storage_Quantity},
            #{COT_ID}
            )
        </foreach>
    </insert>


</mapper>
