<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunze.common.mapper.yunze.fhgl.Ship.FhglOrderDeliveryMapper">

    <sql id="selwhere">
        <where>
            B.code = A.ODY_Contract_ID
            AND C.Dio_Contract_ID = B.code
            AND ODY_nocID = 1
            <if test="value!=null and value!=''">
                <if test="type==1">
                    AND B.c_name  LIKE CONCAT('%',#{value},'%')
                </if>
            </if>
            <if test="ODY_dsID != null  and ODY_dsID != '' and ODY_dsID.size>0">
                AND A.ODY_dsID IN
                <foreach item="ODY_dsID" collection="ODY_dsID"  open="("  separator=","  close=")" >
                    #{ODY_dsID}
                </foreach>
            </if>
            <if test="timetype != null  and timetype != '' and staTime!=null and endTime!=null">
                and
                <if test="timetype == 1">
                     ODY_Estimated_Time
                </if>
                <if test="timetype == 2">
                     Time
                </if>
                BETWEEN #{staTime} AND #{endTime}
            </if>
            <if test="sales_idArr != null  and sales_idArr != '' and sales_idArr.size>0">
                and  B.c_userId in
                <foreach item="sales_idArr" collection="sales_idArr" index="sales_idArr" open="(" separator="," close=")">
                    #{sales_idArr}
                </foreach>
            </if>
        </where>
    </sql>

    <!-- 查询 销售订单 合同发货信息 -->
    <select id="selMap" parameterType="java.util.HashMap" resultType="java.util.HashMap">
        SELECT
            DATE_FORMAT(B.c_time,'%Y-%m-%d') AS Time,
            A.ODY_nocID,
            B.c_name AS CoName,
            B.c_party_a_name,
            B.c_party_a_phone,
            B.c_party_a_address,
            B.c_userName AS NAME,
            C.Dio_DsID,
            A.ODY_dsID,
            A.ODY_Estimated_Time,
            A.ODY_ID,
            A.ODY_Contract_ID

        FROM
            FHGL_Order_Delivery A,
            yz_xsgl_contract B,
            CWGL_Deposit_Info C
        <include refid="selwhere"/>
        ORDER BY Dio_DsID DESC,Time DESC
        LIMIT #{StarRow},#{PageSize}
    </select>

    <!-- 查询 销售订单 合同发货信息  总数-->
    <select id="selMapCount" parameterType="java.util.HashMap" resultType="java.lang.Integer">
        SELECT
            Count(1)
        FROM
            FHGL_Order_Delivery A,
            yz_xsgl_contract B,
            CWGL_Deposit_Info C
        <include refid="selwhere"/>
    </select>





    <!-- 查询今日注册数量 -->
    <select id="sel_data_count" resultType="java.lang.Integer">
		SELECT MAX(substring(ODY_ID, 13,4)) from FHGL_Order_Delivery where substring(ODY_ID, 5,8)=NOW()
	</select>

    <!-- 新增 订单合同发货信息 -->
    <insert id="add_ODY"  parameterType="java.util.HashMap"  >
        INSERT INTO
        FHGL_Order_Delivery(
        ODY_ID,
        ODY_nocID,
        ODY_Contract_ID,
        ODY_dsID
        )
        VALUES (
        #{ODY_ID},
        #{ODY_nocID},
        #{ODY_Contract_ID},
        <if test="ODY_dsID==null" >
            1
        </if>
        <if test="ODY_dsID!=null" >
            #{ODY_dsID}
        </if>
        )
    </insert>

    <!-- 修改 订单合同发货信息 -->
    <update id="upd_ODY" parameterType="java.util.HashMap">
        UPDATE FHGL_Order_Delivery
        <set>
            <if test="ODY_dsID!=null">
                ODY_dsID = #{ODY_dsID},
            </if>
            <if test="ODY_Estimated_Time==null">
                ODY_Estimated_Time = #{ODY_Estimated_Time},
            </if>
        </set>
        <where>
            ODY_ID = #{ODY_ID}
        </where>
    </update>

    <!-- 删除 订单合同发货信息 -->
    <delete id="del_ODY" parameterType="java.util.HashMap">
        DELETE FROM FHGL_Order_Delivery
        <where>
            <if test="ODY_Contract_ID!=null">
                ODY_Contract_ID = #{ODY_Contract_ID}
            </if>
            <if test="ODY_Contract_ID==null">
                ODY_ID = #{ODY_ID}
            </if>
        </where>
    </delete>

    <!-- 查询未完成的临时订单合同ID -->
    <select id="sel_TCT_ID" parameterType="java.util.HashMap" resultType="java.util.HashMap">
        SELECT
        ODY_Contract_ID,
        ODY_nocID
        FROM
        FHGL_Order_Delivery A,
        XSGL_Temporary_Contract B
        <where>
            B.Tct_ID = A.ODY_Contract_ID
            AND	ODY_dsID != 3
            AND ODY_nocID = 2
            AND Tc_id =  #{CoID}
        </where>
    </select>


    <!-- 查询未完成的销售合同ID -->
    <select id="sel_CT_ID" parameterType="java.util.HashMap" resultType="java.util.HashMap">
        SELECT
            ODY_Contract_ID,
            ODY_nocID
        FROM
            FHGL_Order_Delivery A,
            yz_xsgl_contract B
        <where>
            B.code = A.ODY_Contract_ID
            AND	ODY_dsID != 3
            AND ODY_nocID = 1
            and B.state = 1
            AND c_id = #{CoID}
        </where>
    </select>

    <!-- 修改 合同订单发货状态 -->
    <update id="upd_Order_Delivery" parameterType="java.util.HashMap">
        UPDATE
            FHGL_Order_Delivery
        <set>
            ODY_dsID =#{ODY_dsID}
        </set>
        <where>
            ODY_Contract_ID = #{ODY_Contract_ID}
        </where>
    </update>




</mapper>





























