<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunze.common.mapper.yunze.wechat.YzWxConfigMapper">

    <sql id="selwhere">
        <where>

            <if test="agent_id != null and agent_id != '' ">
                AND agent_id = #{agent_id}
            </if>
            <if test="id != null and id != '' ">
                AND id = #{id}
            </if>
        </where>
    </sql>


    <select id="findOne" parameterType="java.util.HashMap" resultType="java.util.HashMap">
        select
            id,
            app_id,
            app_secret,
            app_token,
            origin_id,
            mch_id,
            paterner_key,
            index_url,
            back_url,
            status,
            create_time,
            update_time,
            create_user,
            company_id,
            agent_id,
            native_url,
            auth_txt
        from
            yz_wx_config
        <include refid="selwhere"/>
        ORDER BY create_time desc
        LIMIT 1
    </select>


    <select id="getWxConfigs"  resultType="java.util.HashMap">
        select
            id,
            app_id,
            app_secret,
            app_token,
            origin_id,
            mch_id,
            paterner_key,
            index_url,
            back_url,
            status,
            create_time,
            update_time,
            create_user,
            company_id,
            agent_id,
            native_url,
            auth_txt
        from
            yz_wx_config
    </select>

    <insert id="paySetting" parameterType="java.util.HashMap">
        INSERT INTO yz_wx_config (
            app_id, app_secret, app_token, mch_id, paterner_key,
            index_url, back_url, status, create_time, update_time, create_user,
                                  native_url, auth_txt
        ) VALUES (
                  #{app_id}, #{app_secret}, #{app_token}, #{mch_id}, #{paterner_key},
                  #{index_url}, #{back_url}, #{status}, NOW(), NOW(), #{create_user},
                  #{native_url}, #{auth_txt}
                 )
        ON DUPLICATE KEY UPDATE
                             app_id = VALUES(app_id),
                             app_secret = VALUES(app_secret),
                             app_token = VALUES(app_token),
                             mch_id = VALUES(mch_id),
                             paterner_key = VALUES(paterner_key),
                             index_url = VALUES(index_url),
                             back_url = VALUES(back_url),
                             status = VALUES(status),
                             update_time = NOW(),
                             native_url = VALUES(native_url),
                             auth_txt = VALUES(auth_txt)
    </insert>

    <select id="paySearch" parameterType="String" resultType="java.util.HashMap">
        select
            app_id,
            app_secret,
            app_token,
            mch_id,
            paterner_key,
            status,
            auth_txt,
            back_url,
            index_url
        from
            yz_wx_config
        where create_user = #{userId}
    </select>


    <select id="getContentByToken" parameterType="String" resultType="String">
        select
            auth_txt
        from
            yz_wx_config
        where auth_txt = #{token}
    </select>
</mapper>





























